.header {
    background: #3F51B5
}
  
.logo {
    width: 10rem;
}
  
.account {
    marginLeft: auto;
    display: flex;
    alignItems: center;
}

.walletIcon {
    marginRight: 0.4rem,
}

.images {
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}

.main {
  background-Color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  flex-wrap: wrap;
}

.main-text {
  margin: 3rem 8rem 4rem 8.5rem;
  font-size: 1.2rem;
  text-align: center;
}

.main-button {
  text-transform: none;
  font-size: 1.2rem;
  font-weight: 400;
  background: #3F51B5;
}

.allNfts {
  marginTop: 2rem;
  padding: 0 2rem;
}

.title {
  fontFamily: sans-serif;
  fontSize: 1.8rem;
  fontWeight: 600;
  marginBottom: 1rem;
}